<section class="welcome" id="welcome">
    <div class="image">
        <img src="img/1.jpg" alt="photo1" class="photo">
        <h2 class="h2">Welcome<br />We make the problem visible and help those who need our help</h2>
    </div>
</section>
