<section class="download">
    <div class="learn">
        <p class="Download">
            Download our app on Google Play:
        </p>
        <a href="https://play.google.com/store" target="_blank">
            <img src="img/googleplay.png" alt="googleplay" class="googleplay">
        </a>
        <p class="or">
            OR
        </p>
        <p class="app">
            Download an apk file on your device and install the app:
        </p>
        <div class="Download">
            <a class="btn-warning p-3 rounded" asp-action="DownloadMobileApp" asp-controller="Home">Download Mobile App</a>
        </div>
    </div>
</section>
