@model VictimsHelp.BLL.Models.MessageModel

@{
    Layout = null;
}

<form asp-action="SendMessage" method="post" class="chat-input">
    <input class="form-control" type="text" placeholder="Enter Message" name="Text" asp-for="Text" />
    <button class="send-btn">
        <img src="~/img/send.png" alt="send-btn" class="send-btn1">
    </button>
</form>

