@model VictimsHelp.PL.ViewModels.Chat.MessageViewModel

@{
    ViewData["Title"] = "Chat";
}

<div class="container">
    <div class="container1">
        <div class="chat-box">
            <div class="client">
                <img src="~/img/Psychologist.png" alt="Psychologist" class="Psychologist">
                <div class="client-info">
                    <h3 class="Psychologist-text">Psychologist</h3>
                    <p class="Online">Online</p>
                </div>
            </div>
            <div id="chat">
                <partial name="_MessagesPartial" for="Messages">
            </div>
            <partial name="_MessageFormPartial" for="Message">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/chat.js"></script>
}