@model VictimsHelp.BLL.Models.ArticleModel

@{
    ViewData["Title"] = "Details";
}

<section class="about about-1">
    <div class="container">
        <div class="about-wrapper">
            <img src="~/img/Group 1.png" alt="Галерея Divoom" class="gallery">
            <div class="about-text">
                <h1>@Model.Title</h1>
                <div class="violence">
                    @Model.Text
                </div>
            </div>
        </div>

    </div>
</section>