@model IEnumerable<VictimsHelp.BLL.Models.ArticleModel>

@{
    ViewData["Title"] = "List";
}

<div class="container pt-5">

    @if (User.IsInRole(Roles.Admin))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
        

<div class="row ml-4">
    @{ var random = new Random(); }
    @foreach (var article in Model)
    {
        var i = random.Next(1, 6);
        <div class="card mr-4 mb-4" style="width: 18rem;">
            <a asp-action="Details" asp-route-id="@article.Id">
                <img class="card-img-top" src="~/img/@(i).jpg" alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title">@article.Title</h5>
                <p class="card-text">@article.Text.Substring(0, 50) ...</p>
            </div>
        </div>
    }
</div>
</div>
